{% extends 'core/base.html' %}
    
{% block title %}
    | Cliente
{% endblock title %}
    
{% block content_title %}
    CLIENTE
{% endblock content_title %}

{% block content %}
    <h2>Cliente: Crear</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>


    <button><a href="{% url 'cliente:index' %}">Atrás</a></button>
    <button><a href="{% url 'core:index' %}">Inicio</a></button>

{% endblock content %}